// Specific CSS for your home-page
#name {
  font-family: 'Allura', cursive;
  margin-top: 20px;
  font-size: 77px;
}

#home-buttons {
  display: flex;
  flex-direction: column;
}

.concepts, .storyboards, .personals {
  margin: 10px;
}
