<div class="container mb-5">
  <h1 class='headers'>This is my personal art page</h1>
  <% @personals.each do |personal| %>
    <%=  cl_image_tag personal.image.key, class: 'personal_img' %>
  <% end %>
</div>
