<div class="container">
  <h1 class='headers'>This is the concept art page</h1>
  <div class='image_container' id='app'>
    <% @concepts.each_with_index do |concept, index| %>
      <div class='img-box' data-controller="viewbox">
        <div class='preview-container'>
          <button class="concept-btn" type="button" data-action="click->viewbox#open">
            <%= cl_image_tag concept.image.key, class: "concept_img concept-#{index + 1}" %>
          </button>
        </div>
        <div class="modal concepts-modal" data-viewbox-target="modal">
            <div class="modal-dialog concept-modal-dialog">
            <div class="modal-content concept-modal">
              <%= cl_image_tag concept.image.key %>
              <button class='close' data-action="click->viewbox#close">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
