.btn {
  border: none;
  opacity: 80%;
  background-color: transparent;
  background-size: cover;
  padding-top: 0;
}

img, svg {
  max-width: 1057px;
}

.btn:hover {
  opacity: 100%;
  transition: .4s;
  background-color: transparent;
  filter: brightness(150%);
  scale: 1.01;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: rgba(119, 119, 119, 0.752);
}
