.btn {
  border: none;
  opacity: 80%;
  background-color: transparent;
  background-size: cover;
  padding-top: 0;
}

img, svg {
  max-width: 1010px;
  margin-bottom: 10px;
}

.btn:hover {
  opacity: 100%;
  transition: .4s;
  background-color: transparent;
  filter: brightness(150%);
  scale: 1.01;
}
