.concept_img{
  max-height: 423px;
  position: absolute;
  top: 88px; right: -29%; bottom: 0; left: -49%;
  margin: auto;
}

// .concept_img:hover{
//   filter: brightness(117%);
//   cursor: pointer;
//   transition: .4s;
// }

.preview-container {
  height:0px;
}

// INDIVIDUAL PLACEMENT

.concept-1 {
  top: 71px;
  right: -89%;
  bottom: 108px;
  left: -95%;
}

.concept-2 {
  top: 71px;
  right: -29%;
  bottom: 0;
  left: -95%;
}
.concept-3 {
  top: 259px;
  right: -142%;
  left: -95%;
  max-height: 555px;
}

.concept-4 {
  top: 5px;
  right: -89%;
  bottom: 0;
  left: -95%;
}

.concept-5 {
  top: 135px;
  right: -29%;
  bottom: 0;
  left: -95%;
}

.concept-6 {
  top: -94px;
  right: -20%;
  bottom: 0;
  left: -108%;
}

.concept-7 {
  top: 40px;
  right: -23%;
  bottom: 0;
  left: -103%;
  max-height: 340px;
}

.concept-8 {
  top: 43px;
  right: -135%;
  bottom: 0;
  left: -95%;
  max-height: 307px;
}

.concept-9 {
  top: 33px;
  right: -165%;
  bottom: 0;
  left: -95%;
  max-height: 304px;
}

.concept-10 {
  top: 14px;
  right: -189%;
  bottom: 0;
  left: -95%;
  max-height: 300px;
}
