.storyboard-img {
  position: absolute;
}

.storyboard-1 {
  top: 71px;
  right: -89%;
  bottom: 108px;
  left: -95%;
}

.storyboard-img:hover{
  filter: brightness(117%);
  cursor: pointer;
  transition: .4s;
}
